#inicio {
    background-color: #001300;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}

#inicio nav a {
    color: #007f00;
    transition: color 0.5s;
}

#inicio nav a:hover {
    color: #00ff00;
    text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}

#carouselMain {
    height: 70vh;
    overflow: hidden;
}

.carousel-item {
    height: 70vh;
}

#carouselMain img {
    width: 100%;
}

#titulo {
    cursor: default;
    font-size: 130px;
    font-weight: bolder;
    color: #eeffee;
    text-shadow: 0px 0px 20px rgba(0, 255, 0, 0.7);
}

.promo {
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 0px 0px 20px rgba(0, 255, 0, 0.8);
}

.promo a {
    color: #ccffcc;
}

.promo a:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 40px rgba(0, 255, 0, 0.8);
}

#item1 {
    border-right: 1px solid #007f00;
}

@media (max-width: 768px) {
    #carouselMain {
        display: none;
    }
}