#footer {
    background-color: #000500;
    padding: 40px 60px 90px;
    color: #ccffcc;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#footer h3, #footer h2 {
    cursor: default;
    padding-bottom: 20px;
}

#footer p{
    padding-bottom: 10px;
}

#footer a{
    color: #ccffcc;
}

#footer a:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 255, 0, 0.5);
}

#footer .btn {
    background-color: #ccffcc;
    color: #000500;
    font-weight: bolder;
    transition: all 0.3s;
}

#footer .btn:hover{
    background-image: url(/STARTTech/Modulo-01/Projeto-01/img/Fundo.gif);
    background-size: cover;
    color: #ccffcc;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

#logo {
    width: 80%;
}

@media (max-width: 768px) {
    #footer {
        padding-bottom: 90px;
    }

    #footer h2, #footer h3 {
        padding-bottom: 0;
    }
}