#formContainer {
    padding-top: 50px;
}

#form {
    padding: 40px 0;
    margin: auto;
}

#form .btn,
#form span {
    background-color: #ccffcc;
    color: #000500;
    font-weight: bolder;
    transition: all 0.3s;
}

#form .btn:hover {
    background-image: url(/STARTTech/Modulo-01/Projeto-01/img/Fundo.gif);
    background-size: cover;
    color: #ccffcc;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

#imagem img {
    width: 100%;
}