#main{
    background-color: #000500;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
    width: 80vw;
    position: relative;
    margin: 40px auto;
    padding: 60px;
    border-radius: 10px;
}

.row h2, .row p{
    cursor: default;
    margin: auto;
    color: #ccffcc;
}

.row #txtQuemSomos{
    font-size: 22px;
}

#cards {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
}

#cards .card{
    width: 45%;
    margin: 10px auto 10px 25px;
    padding: 0;
    background-color: #001000;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2);
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.01);
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-body h5, .card-body p{
    margin: auto;
    cursor: default;
    color: #ccffcc;
}

.card-body .btn {
    margin-top: 20px;
    background-color: #ccffcc;
    color: #001000;
    font-weight: bolder;
    transition: all 0.3s;
}

.card-body .btn:hover{
    background-image: url(/STARTTech/Modulo-01/Projeto-01/img/Fundo.gif);
    background-size: cover;
    color: #ccffcc;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

#quemSomos {
    padding-top: 60px;
}

@media(max-width: 768px) {
    #cards .card {
        width: 100%;
    }

    #quemSomos {
        padding-top: 0;
    }

    #imgQuemSomos {
        padding-bottom: 20px;
    }

    #txtQuemSomos {
        text-align: center;
    }
}