@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

#footer {
    background-color: white;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px black;
}

#frase {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#frase h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #58616b;
}

#redes {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#redes a{
    text-decoration: none;
    color: #528806;
}

#redes img {
    height: 30px;
    width: 30px;
}

#redes a:hover{
    color: #6fbb05;
}