@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
#logoContainer{
    height: 60vh;
    padding-top: 60px;
}
#logoContainer h1{
    font-size: 200px;
    color: white;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}