@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--cor-primaria) !important;
}

#main {
  background-color: var(--cor-primaria);
  padding: 30px;
}

#main h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
}

#cards {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 20px;
  cursor: default;
  flex-wrap: wrap;
}

#card1,
#card3 {
  width: 70%;
  margin-bottom: 40px;
  color: white;
  background-color: var(--cor-secundaria);
  border-radius: 10px;
  overflow: hidden;
}

#card2 {
  width: 70%;
  margin-bottom: 5px;
  color: white;
  background-color: var(--cor-secundaria);
  border-radius: 10px;
  overflow: hidden;
}

.card-body,
.list-group,
.item {
  background-color: var(--cor-secundaria) !important;
}

.card .carousel-item {
  height: 30vh;
}

.item a {
  color: white;
}

@media (max-width: 890px) {
  #card1,
  #card2,
  #card3 {
    width: 80%;
    margin-bottom: 40px;
  }
}

@media (max-width: 770px) {
  #main {
    padding: 10px;
  }
  
  #card1,
  #card2,
  #card3 {
    width: 100%;
  }

  #botao2 {
    margin-bottom: 5px;
  }
}