@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #252326 !important;
}

#main {
  background-color: #252326;
  padding: 40px;
  min-height: 90vh;
}

#main h1 {
  color: black;

}

#cards {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  cursor: default;
  flex-wrap: wrap;
}

#cardForm,
#cardRetorno {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  background-color: #13444d;
  border-radius: 10px;
  overflow: hidden;
}

#respostas {
  padding: 20px;
}

.card-body,
.list-group,
.item {
  background-color: #13444d !important;
}

.card .carousel-item {
  height: 30vh;
}

.item a {
  color: white;
}

@media (max-width: 890px) {
  #main {
    padding: 5px;
  }

  .card-header h3 {
    font-size: x-large;
  }
}