@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@700&family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #999999;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
#principal h1 {
    color: #5D3364;
    font-size: 36px;
    font-family: 'Merriweather', serif;
    margin-top: 40px;
    margin-bottom: 10px;
}
#principal p {
    margin-top: 10px;
}

.produto a {
    margin-top: 10px;
}
.container {
    width: 1140px;
    margin: auto;
}

#cabecalho {
    width: 100%;
    height: 120px;
    background-color: #BA67C8;
}

#logo img {
    margin-top:16px;
}

#menu ul {
    display: flex;
    justify-content: end;
    padding-top: 48px;
}

#menu ul li {
    padding-left: 36px;
}

#menu ul li a {
    color: #ffffff;
    height: 24px;
    padding-bottom: 4px;
}

 #produtos h2 {
    font-family: 'Merriweather', serif;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #3C4E58;
}

#lista-produtos {
    display: flex;
    margin: auto;
}

.produto { 
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.04);
}

.produto h3 {
    font-family: 'Merriweather', serif;
    font-size: 21px;
    margin-top: 15px;
    color: #3C4E58;
}

.produto img {
    width: 100%;
}

.preco {
    font-size: 1.5rem;
}

.botao {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: calc(100% - 30px);
    background-color: #BA67C8;
    color: white;
    padding: 15px;
}

.botao:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #5D3364;
    transition: background-color 1s;
}

#quem-somos img {
    width: 100%;
}

#quem-somos .texto {
    padding-left: 40px;
}

#quem-somos h2 {
    font-family: 'Merriweather', serif;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #3C4E58;
}

#quem-somos a {
    font-family: 'Merriweather', serif;
    margin-top: 20px;
    background-color: #BA67C8;
    color: white;
}

#rodape {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: #5D3364;
    color: #ffffff;
}

#rodape h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

#rodape li, #rodape p {
    color: #ffffff;
    line-height: 1.75em;
}

#rodape a {
    color: #F1E1F4;
}

#rodape button {
    color: #ffffff;
    background-color: #BA67C8;
}