@import 'var.css';

body {
    background-color: var(--cor-primaria) !important;
}

#main {
    background-color: var(--cor-primaria);
    padding: 30px;
    height: calc(100vh - var(--altura-header));
}

#identificacao {
    color: white;
    cursor: default;
    padding-left: 40px;
}

#cards {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    cursor: default;
    flex-wrap: wrap;
}

#card {
    width: 45%;
    color: white;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
}

.card-body, .list-group, .item {
    background-color: var(--cor-secundaria) !important;
}

.card .carousel-item {
    height: 30vh;
}

.item a {
    color: white;
}

.item a:hover {
    color: var(--cor-accent);
    text-decoration: none;
}

@media (max-width: 890px) {
    #card {
        width: 80%;
        margin-bottom: 40px;
    }    
}

@media (max-width: 550px) {
    #main {
        padding: 10px;
    }

    #card {
        width: 100%;
        border-radius: 0;
    }
}