@import 'var.css';

#header {
    background-color: rgb(24, 28, 35);
    height: var(--altura-header);
}

#navIcone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#home {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
}
