#header {
  background-color: rgb(24, 28, 35);
}

#navIcone {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  color: white;
  display: flex;
  align-items: center;
}

#home h1 {
  font-size: larger;
  padding-top: 13px;
  padding-left: 5px;
}