@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #fbffcd !important;
}

#main {
  background-color: #fbffcd;
  padding: 30px;
}

#main h1 {
  color: #001f36;
  padding-top: 20px;
}

#cards {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  cursor: default;
  flex-wrap: wrap;
}

#cardForm,
#cardRetorno {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  background-color: #1c5560;
  border-radius: 10px;
  overflow: hidden;
}

#respostas {
  padding: 15px;
}

.card-body,
.list-group,
.item {
  background-color: #1c5560 !important;
}

.card .carousel-item {
  height: 30vh;
}

.item a {
  color: white;
}

@media (max-width: 790px) {
  #main {
    padding: 5px;
  }

  #main h1 {
    font-size: xx-large;
  }
}